/* Classes */
.heading{
    font-family: Satisfy;
}
.submessage {
    font-size: 20px;
    font-family: Poppins;
}
.left-container {
    float: left;
    width: 50%;
    padding-bottom: 25px;
}
.right-container {
    float: right;
    width: 50%;
    padding-bottom: 25px;
    padding-top: 5%;
}
.card-header {
    font-family: Satisfy;
    text-align: center;
    font-size: 30px;
}
.card-text {
    font-size: 17px;
}
.btn-primary {
    margin-top: 10px;
}
